% if errors:
  <div>${errors}</div>
% else:
<div>${module.location}</div>
<div id="unityPlayer"><embed src="http://localhost:9999/labster.unity3d" type="application/vnd.unity" width="957" height="650" firstframecallback="UnityObject2.instances[0].firstFrameCallback();" enabledebugging="0" backgroundcolor="000000" logoimage="logo.png" progressbarimage="progress_bar.png" progressframeimage="progress_bar_frame.png" disablecontextmenu="true" style="display: block; width: 957px; height: 650px;"></div>
<script src="http://localhost:9999/UnityObject2.js"></script>
<script type="text/javascript">
  var config = {
    width: 957,
    height: 650,
    params: {
      enableDebugging:"0",
      backgroundcolor: "000000",
      logoimage: "logo.png",
      progressbarimage: "progress_bar.png",
      progressframeimage: "progress_bar_frame.png",
      disableContextMenu: true,
    }
  };
  var u = new UnityObject2(config);

  jQuery(function() {

    var $missingScreen = jQuery("#unityPlayer").find(".missing");
    var $brokenScreen = jQuery("#unityPlayer").find(".broken");
    $missingScreen.hide();
    $brokenScreen.hide();

    u.observeProgress(function (progress) {
      switch(progress.pluginStatus) {
        case "broken":
          $brokenScreen.find("a").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            u.installPlugin();
            return false;
          });
          $brokenScreen.show();
        break;
        case "missing":
          $missingScreen.find("a").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            u.installPlugin();
            return false;
          });
          $missingScreen.show();
        break;
        case "installed":
          $missingScreen.remove();
        break;
        case "first":
        break;
      }
    });
    u.initPlugin(jQuery("#unityPlayer")[0], "http://localhost:9999/labster.unity3d");
  });

</script>
% endif
